# Editors
*.idea*
*.vscode*
*MNIST_data*
*exported_c_files*
c_implementation/weights
c_implementation/opencl_implementation/opencl_mlp
c_implementation/simple_mlp.o
c_implementation/opencl_implementation/test
parameters/*
test_pics/
*.json

*.conf
!default.conf

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
